* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
@media only screen and (min-width : 300px)  
{
   body { font-size:12px; }
   .login_gravatar { width:80px; height:80px; }
   .avatar 		   { width:30px; height:30px; }
}
@media only screen and (min-width : 400px)  
{
   body { font-size:16px; }
   .login_gravatar { width:120px; height:120px; }
   .avatar 		   { width:45px; height:45px; }
}
@media only screen and (min-width : 500px)  
{
   body { font-size:20px; }
   .login_gravatar { width:140px; height:140px; }
   .avatar 		   { width:55px; height:55px; }
}
@media only screen and (min-width : 600px)  
{
   body { font-size:24px; }
   .login_gravatar { width:160px; height:160px; }
   .avatar 		   { width:66px; height:66px; }
}

@font-face {
    font-family: normalBetu;
    src: url("../fonts/Sturkopf.otf") format("opentype");    
    }


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#262F0E;
    background-attachment:fixed;
    padding:none;
    font-family:normalBetu;
    overflow-x: hidden;
    overflow-y: scroll;
}
a{
	text-decoration: none;
	highlight:none;
}

.oldal{
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	position: absolute;
	overflow: hidden;
	background: url(../img/hatter.png) no-repeat;
	background-size: 100% 100%;
}
.fejlec{
	top:0px;
	width:100%;
	height:12%;
	--background-color: #422d1d;
	text-align:center;
	--border:1px solid red;
}
.fejlec header{
	font-size:4em;
	text-align-center;
	float:left;
	width:52%;
	color:white;
	padding-top:3%;
}

.logo{
	height:100%;
	right:0;
	top:0;
	float:right;
}
.settings{
	position:absolute;
	bottom:83%;
	right:1%;
	height:6%;
	z-index: 5;
}
.csik{
	background-color: #af9a8a;
	opacity: 0.9;
	width:100%;
	height:7%;
	text-align:left;
	--position:absolute;
	margin-top:-8%;
}
.csik a{
	height:100%;
	width:33%;
}

.csiktxt{
	position:relative;
	left:25%;
	top:-85%;
	width:71%;
	font-size:1.6em;
	font-family:normalBetu;
	text-align:right;
}

.porond{
	width:100%;
	height: 74%;
	left:0px;
	top:12%;
	position:absolute;
	padding-top:2%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.scroller{
	--height:100%;
	width:100%;
	--display:block;
	--position:absolute;
}
.lablec{
	width:100%;
	height:12%;
	position:absolute;
	bottom:0;
}

.menu{
	float:left;
	width:25%;
	height:100%;
	text-align: center;
}
.ikon{
	height:90%;
	margin-top:5%;
}
.porond_terkoz{
	width:100%;
	--height:1%;
}

.oldal input{
	border-radius:3%/10%;
	border:3px solid #0a510a;
	padding:2%;
	background:white;
	overflow: hidden;
	width:96%;
	height:76%;
	font-size:1.5em;
	border:none;
}
.oldal h5{
	font-size:1.4em;
	letter-spacing: 0.1em;
	color:#CDFE73;
	height:13%;
	margin-bottom:1%;
}

.gomb{
	width:70%;
	height:15%;
	background:url('../img/arnyek.png') no-repeat;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
	padding-bottom:3%;
	margin: 0 auto;
}
.gomb div{
	border-radius:4%/20%;
	background-color:#7AAE72;
	--border:1px solid #3A782C;
	overflow: hidden;
	width:95%;
	height:80%;
	margin-left:2%;
	padding:2% 0%;
	text-align:center;
	font-size:2.3em;
	letter-spacing: 0.08em;
}
.piros div{
	background:#ff8d6d;
}
.pipa {
	height:16%;
	background: url('../img/bme/pipa0.png') no-repeat;
	background-size:contain;
	padding-left:9%;
	margin-top:3%;
}

p {
	margin: 3% 5%;
	font-size:1.5em;
	line-height:1em;
	letter-spacing: 0.05em;
	color: #fcfcfc;
}

/* ----  KEZDŐLAP -------------------------- */
.fomenu{
	height:19%;
}
.fomenu, nav{
	width:100%;
	background:url('../img/arnyek.png') no-repeat;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
	padding-bottom:1%;
}
.fomenu div, nav div{
	border-radius:4%/20%;
	background-color:#7AAE72;
	border:1px solid #3A782C;
	overflow: hidden;
	width:95%;
	height:80%;
	margin-left:2%;
	--margin-top:1%;
}

.fomenu div img, nav div img{
	margin-left:3%;
	max-width:100%;
	height:130%;
	margin:0 auto;
	float:left;	
}
.fomenu div h1, nav div h1, .subnav div h1{
	text-align: left;
	font-size: 2.5em;
	color:white;
	margin-left: 32%;
	margin-top:2%;
}
nav{
	height:13%;
}
nav div{
	border:none;
}
nav div img{
	height: 120%;
}
.subnav{
	--margin-top:5%;
}
.subnav div{
	width:95%;
	min-height:80%;
	background-color:#7AAEa2;
}
.subnav div img{

}
.subnav div h1{
	font-family:normalBetu;
	font-size:2.5em;
}

/* ----- BEÁLLÍTÁSOK ----------------- */
.beall_sor{
	width:100%;
	margin-top:2%;
}
.blokk{
	margin-left:5%;
	margin-top:5%;
	width:72%;
	display:block;
	float:left;
}
.beallitas{
	color: #dcfa0a;
	font: 1.2em Arial;
}
.magyarazat{
	color: white;
	font:italic 1em Arial;
	margin-top:1%;
	margin-right:5%;
}
.setting{
	margin-top:5%;
	--margin-left:1%;
	float:left;
	width:20%;
	color:yellow;
	font: 1.2em Arial;
	text-align: center;
	display: block;
	border:1px solid white;
}

/* ----- LOGIN ----------------- */
.login_gravatar{
	margin: 3% auto;
	margin-bottom:1%;
	overflow: hidden;
	border-radius:100%/100%;
	border: 3px solid #0a510a;
}
.login_gravatar img{
	width:105%;
	margin-left:-2%;
	margin-top:-2%;
}
.nagyavatar{
	height:200px;
	width:200px;
}
.login_email{
	width:76%;
	margin: 3% auto;
	margin-top:0;
	height:7%;
}
.login_jelszo{
	width:76%;
	margin: 3% auto;
	height:7%;
}
.adatok{
	width:76%;
	margin: 3% auto;
	height:7%
}


#LOGIN .gomb,#ADATOK .gomb{
	width:78%;
	margin-top:3%;
}
#LOGIN p,#ADATOK p{
	margin-left:12%;
	margin-right:12%;
	font-size: 1.5em;
}
/* ----- AVATAR ---------------- */
#AVSTART .gomb{
	width:80%;
	margin-top:3%;
}
#AVSTART p{
	margin:3% 12%;
	font-size: 1.7em;
}
/* ----- INFORMÁCIÓK ----------- */
.infolap{
	display:none;
	
}
.lap{
	position: absolute;
	top:0%;
	font-family: 'Verdana';
	overflow-y: scroll;
	width:100%;
	height:85%;
	padding-top:20%;
}
.lap h1{
	font-size: 2em;
	margin:1% 5%;
}
.lap p{
	font-size: 1.2em;
	margin:3% 5%;
}
article div{
	width:100%;
	min-height:100%;
	display:block;
}

#map-canvas{
	width:100%;
	height:500px;
	margin-top:5%;
	--position: absolute;
}

#Hint,#PopUp{
	z-index:10;
	display:none;
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#0a0a0a;
}
#Hint { background:none; }
#HT1,#HT2,#HT3,#HT4,#PopUp { opacity: 0.75; }
.HintTabla{
	background-color:#0a0a0a;
	position: absolute;
}
#HintTXT{
	color:#fcfcfc;
	position: absolute;
	left:10%;
	top:30%;
	width:80%;
	height:15%;
	font: 1.7em Verdana;
}
#HintBezar,#HintKikapcs{
	color:#fcfcfc;
	border: 2px solid #fcfcfc;
	position: absolute;
	right:0;
	--top:0;
	width:33%;
	height:15%;
	background:#000000;
	opacity: 1;
	display: table;
}
#HintBezar p, #HintKikapcs p{
display: table-cell; 
vertical-align: middle;
font: bold 1em Verdana;
text-align:center;
width:100%;

}
#HintBezar{
	right: inherit;
	left:0;
}
.PopUp_frame{
	margin:auto;
	margin-top:25%;
	width:80%;
	min-height:25%;
	display:block;
	position:relative;
	background-color:#f0f0f0;
	border:2px solid #0f0f0f;
	border-radius: 20px;
	padding:5%;
	overflow: hidden;
}
#PopUp_txt{
	font-family: 'Verdana';
	font-size:1.7em;
	line-height:1.2em;
}
#PopUp_x{
	position: absolute;
	right:0;
	top:0;
	height:10%;
	width:10%;
	padding-top:3%;
	padding-left:4%;
	font: bold 1.3em Verdana;
	color:red;
}